footer{
    position: absolute;
    top: 3170px;
    width: 1518px;
    /* height: 400px; */
}
.body-introduction-background {
    width: 1518px;
    height: 479px;
    position: absolute;
    top: 15px;
    background: url(../image/background.jpg);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    text-align: center;
    color: white;
    z-index: 2;
}